<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalLocation">
    + Set meeting room
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="modalLocation" tabindex="-1" aria-labelledby="modalLocation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLocationLabel">Set meeting room</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Location" aria-label="Username" aria-describedby="basic-addon1" #newLocation>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addNewLocation(newLocation.value)" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>