<div class="container">
    <h5>Add guests</h5>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                   <input style="border:none" type="text" class="form-control" placeholder="Email invitation   "
                            aria-label="Email invitation" aria-describedby="button-input-email">
             
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-primary" type="button" id="button-send-email">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>