<div class="container create-event">
    <div class="row" style="margin-top:50px">
        <div class="col">
            <div class="container d-flex justify-content-between">
                <h1>Create event</h1>
                <button class="btn btn-light" type="button" id="button-send-email">Cancel</button>
            </div>
        </div>
    </div>
    <div class="row row-create-event gx-5">
        <div class="col-8">
            <div>
                <div>
                    <app-title></app-title>
                </div>
                <div>
                    <app-datetime></app-datetime>
                </div>
                <div>
                    <app-location></app-location>
                </div>
                <div>
                    <app-upload></app-upload>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div>
                <div>
                    <app-team></app-team>
                </div>
                <div>
                    <app-guest></app-guest>
                </div>
                <div>
                    <app-notify></app-notify>
                </div>
                <div>
                    <app-reminder></app-reminder>
                </div>
                <div class="container d-grid gap-2">
                    <button type="button" class="btn btn-primary ">Create event</button>
                </div>
            </div>
        </div>
    </div>