<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modaltitle">
+ Add description
</button>

<!-- Modal -->
<div class="modal fade" id="modaltitle" tabindex="-1" aria-labelledby="modaltitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modaltitleLabel">Add description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" #newTitle>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewTitle(newTitle.value)" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>