<div class="container">
    <h5>Notify people on</h5>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Slack
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault2" checked>
                        <label class="form-check-label " for="flexRadioDefault2">
                            Hipchat
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
